<!DOCTYPE html>
<%= javascript_include_tag :defaults %>
<html>
<head>
  <title>Odcdecoration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="header"><h2> ODC Decoration Management </h2><div class="signout" align="right" style="color:#ffffff"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></div></div>
<body>

<%= yield %>

</body>


<div class="footer"> </div>

</html>
