<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @decoration.name %>
</p>

<p>
  <b>Year:</b>
  <%= @decoration.year %>
</p>
<% @zone=Zone.find(@decoration.zone_id) %>
<p>
  <b>Zone:</b>
  <%= @zone.name %>
</p>

<p>
  <b>Expense:</b>
 <%=  link_to "Download", @decoration.expense.url(:original, false) %>
</p>
<table>
  <tr>
    <th>Task Name</th>
    <th>Assigned to users</th>
 
    <th></th>
    <th></th>
  </tr>
 
<% @decoration.tasks.each do |t| %>
 
  <tr>
    <td>   <%= t.name %></td>
    <td>   <% t.users.each do |user| %> <%=user.username%> <% end %></td>
        <td><%= link_to 'Edit', edit_task_path(@decoration.tasks) %></td>
    <td></td>

<% end %>
  </tr>
</table>
 <br/>
 <h2>Add tasks and users</h2>

<%= form_for([@decoration, @decoration.tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
Select Users:
  <br/><%= select_tag("user_ids", options_for_select(User.all.collect{|u|[u.username,u.id]}),{:multiple=> true}) %>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


