

<h1>Listing users</h1>
<%= paginate @users %>
<table>
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td> <% if can? :update, @user %><%= link_to 'Show', user %><% end %></td>
      <td><% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(user) %>
<% end %></td>
    <td<% if can? :delete, @user %>   <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
    </tr>
  <% end %>
</table>

<br />

 <% if can? :create, @user %><%= link_to 'New user', new_user_path %> <% end %>