<h1>Listing taskusers</h1>

<table>
  <tr>
    <th>Tasks</th>
    <th>Users</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taskusers.each do |taskuser| %>
  <tr>
    <td><%= taskuser.tasks_id %></td>
    <td><%= taskuser.users_id %></td>
    <td><%= link_to 'Show', taskuser %></td>
    <td><%= link_to 'Edit', edit_taskuser_path(taskuser) %></td>
    <td><%= link_to 'Destroy', taskuser, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taskuser', new_taskuser_path %>
